body {
    margin: 0;
    height: 100vh;

    background: linear-gradient(270deg,#00c6ff, #0072ff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
/* Animación para el fondo */   @keyframes gradient {
    0% {
        background-position: 0% ;
    }
    50% {
        background-position: 100% ;
    }
    100% {
        background-position: 0% ;
    }
    box { width: 100px ;
    height: 100px ;
    background: write ;
    margin: 40px auto ;
    animation: rotate 3s linear infinite ;
}
@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg);}
}
header {
    background-color: #050505;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
main {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}
contenido {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    background-color: #050505;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}