body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #050505;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
main {
    width: 80%;
    margin: 20px auto;
}
contenido {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px gray
}
footer {
    background-color: #050505;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
carousel {
    width: 70%;
    margin:auto;
}
carousel-item {
    height: 400px;
    object-fit: cover;
}
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: gray;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1440px;
    padding: 0 20px;
}

.button{
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;

}

.button-primary{
    color: darkblue;
    background-color: #ffcc00;
}

.button-primary:hover{
    background-color: pink;
    transition: background-color 0.3s;

}


.button-secondary{
    color: white;
    background-color: #ffcc00;
}

.button-secondary:hover{
    background-color: pink;
    color: darkblue;
    transition: background-color 0.3s;

}